<h4 class="column">Products</h4>
<div class="column">
  <ul class="products-grid no-bullet row">
    <% @products.each do |product| %>
      <li class="large-3 medium-4 small-12 column">
        <div class="product-card padly">
          <%= link_to product, class: "image" do %>
            <%= image_tag product.image %>
          <% end %>
          <div class="product-info ell glassy-bg padmy padlx">
            <div class="name">
              <h6><%= product.name %> </h6>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
