<div class="large-3 small-12 column">
  <%=image_tag @product.image%>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @product.name %>
  </h3>
  <div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @product, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Visual Effects: <%= rating_for @product, "visual_effects" %>
      <br>
      Original Score: <%= rating_for @product, "original_score" %>
      <br>
      Director: <%= rating_for @product, "original_score" %>
      <br>
      Custome Design: <%= rating_for @product, "custome_design" %>
    <% end %>
  </div>
</div>
  <p><%= @product.description %></p>
</div>